html {
    font-family: "Noto Sans Sharada", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
    height: 100%;
    color: #e2e2e2;
    background-color: #333333;
}

body {
    margin: 0.7rem;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    font-size: 1.5rem;
    background-color: rgb(194, 186, 84);
    padding: 0.4rem;
}

#navbar .link {
    text-decoration: none;
    color: black;
    margin: 0.2rem;
    font-weight: bold;
}
#navbar .link:hover {
    color: rgb(238, 238, 238);
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: rgb(112, 138, 206);
}
a:hover {
    color: rgb(18, 77, 227);
    text-decoration: underline;
}

#main-content {
    padding-top: 3rem;
}

.icon {
    width: clamp(0.9rem, 4vw, 1.3rem);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #255525;
    text-align: center;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

@media (max-width: 30rem) {
    #navbar {
        font-size: clamp(0.8rem, 5vw, 1.5rem);
    }

    body {
        font-size: 0.8rem;
    }
}