html {
    font-family: Arial, sans-serif;
    font-size: 1.3rem;
}

body {
    margin: 0.7rem;
}

.background {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.6;
}

#navbar {
    font-size: 1.5rem;
    background-color: honeydew;
    margin: 0.5rem;
    padding: 0.4rem;
    box-shadow: 0.3rem 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
}

#navbar .link {
    text-decoration: none;
    color: black;
    margin: 0.2rem;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: rgb(167, 98, 91);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: honeydew;
    text-align: center;
    padding: 0.5rem;
    margin-top: 0.4rem;
}

@media (min-width: 30rem) {
    body {
        font-size: 0.9rem;
    }
}