body {
    font-family: Arial, sans-serif;
    font-size: 1.1rem;
}

.background {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.6;
}

@media (min-width: 30rem) {
    body {
        font-size: 0.9rem;
    }
}