html {
    font-family: Arial, sans-serif;
    font-size: 1.3rem;
    height: 100%;
    background-image: linear-gradient(to top, #08ff6b 0%, #9e99ff 100%); /* #073 @ https://webgradients.com/ */
}

body {
    margin: 0.7rem;
    }

.background {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.6;
}

#navbar {
    position: fixed;
    top: 0;
    width: 90%;
    font-size: 1.5rem;
    background-color: honeydew;
    margin: 0.5rem;
    padding: 0.4rem;
    box-shadow: 0.3rem 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
}

#navbar .link {
    text-decoration: none;
    color: black;
    margin: 0.2rem;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: rgb(12, 50, 147);
}

a:hover {
    color: rgb(18, 77, 227);
    text-decoration: underline;
}

#main-content{
    padding-top: 3rem;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #07d459;
    text-align: center;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

@media (max-width: 30rem) {
    #navbar {
        font-size: clamp(0.8rem, 5vw, 1.5rem);
    }

    body {
        font-size: 0.8rem;
    }
}